{% extends "main/base.html" %} {% load bootstrap4 %} {% load static %} 
{% block page_header %}
<h2>Log in to your account.</h2>
{% endblock page_header %} {% block content %}
<div
  class="login"
  style="
    padding-bottom: 100px;
    background: url({% static 'main/img/flag.png' %}) center;"
>
  <form
    class="form form__input"
    action="{% url 'users:login' %}"
    method="POST"
    style="background: url({% static 'main/img/flag.png' %}) center;"
  >
    {% csrf_token %} {% bootstrap_form form %} {% buttons %}
    <button class="btn-lg btn-success" name="submit">Log in..</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'main:index' %}" />
  </form>
  
</div>
<div class="row" style="height: 300px;">
  <div class="container">
  </div>
</div>
<hr />
{% endblock content %}
