{% extends "main/base.html" %} {% load bootstrap4 %} {% load static %} 
{% block page_header %}
<h2>Log in to your account.</h2>
{% endblock page_header %} {% block content %}

<div
  class="container book1"
  style="
    padding-bottom: 100px;
    background-image: url({% static 'main/img/flag.png' %});"
>
  <form
    class="form form__input"
    action="{% url 'users:login' %}"
    method="POST"
    style="background-color: #fcdb00;"
  >
    {% csrf_token %} {% bootstrap_form form %} {% buttons %}
    <button class="form__btn" name="submit">Log in..</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'main:index' %}" />
  </form>
</div>
<hr />
{% endblock content %}
