{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Log in to your account.</h2>
{% endblock page_header %}
{% block content %}

<div class="container" style="padding-bottom: 100px;">
<form class='form' action="{% url 'users:login' %}" method="POST">
   {% csrf_token %}
    {% bootstrap_form form %}
  {% buttons %}
  <button class="btn btn-primary" name="submit">Log in..</button>
  {% endbuttons %}
  <input type="hidden" name="next" value="{% url 'main:index' %}" />
</form>
</div>
<hr>
{% endblock content %}
