{% extends "main/base.html" %} {% block content %}
{% load static %}
<div class="row">
    <div class="col-lg-12">
      <div class="title">
        <h2 class="title__main">
          We are Lessias Lessons and we are Awesome!
        </h2>
        <p class="title__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis
          venenatis.
        </p>
        <iframe  class="col-lg-5" style="border-radius: 15vw;"width="560" height="315" src="https://www.youtube.com/embed/fZyt7sF01TQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr>
        <img class="logo animated fa-10x" width='600'src="{% static 'main/img/student.jpg' %}" alt="student>>" style="opacity:inherit;border-radius: 5vw;">
      </div>
    </div>
  </div>
{% endblock content %}
