{% extends "main/base.html" %}
{% load static %} 
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="offer animated fadeInLeft">
      <h1 class="offer__title">
        Inspire your inspiration
      </h1>
      <div class="offer__intro">
        Simple to use for your app, products<br />showcase and your
        inspiration
      </div>
      <p class="offer__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent vitae eros eget tellus tristique bibendum. Donec rutrum
        sed sem quis venenatis. Proin viverra risus a eros volutpat
        tempor. In quis arcu et eros porta lobortis sit
      </p>
      <ul class="icons d-flex">
        <li class="icons__item">
          <a href="#">
            <i class="fa fa-apple"></i>
          </a>
        </li>
        <li class="icons__item">
          <a href="#">
            <i class="fa fa-android"></i>
          </a>
        </li>
        <li class="icons__item">
          <a href="#">
            <i class="fa fa-windows"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-5 ml-auto">
    <img
      src=" {% static 'main/img/ipad-new.png' %}"
      class="ipad animated fadeInRight"
      alt="iPad"
    />
  </div>
</div>
</div>
</header>
<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title">
          <h2 class="title__main">
            Lessias Lessons News
          </h2>
          {% if user.is_authenticated %}
          <a href="{% url 'main:post_create' %}">New Post</a>
          {% endif %}
          <p class="title__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis
            venenatis.
          </p>
          <a href="{% url 'main:post_list' %}">ALL POSTS</a> -

        </div>
      </div>
    </div>
    <div class="row">
      
        {% for post in posts %}
      <div class="col-lg-4">
        <div class="feature d-flex">
          <i class="fa fa-tablet feature__icon">LL</i>
          <div class="feature__block">
             {% if user.is_authenticated %}
            <a href="{% url 'main:post_edit' post.id %}">EDIT</a>
            {% endif %}
            <h3 class="feature__title">
              {{post.title}} - <small>{{post.published}}</small>
            </h3>
            <p class="feature__text">
              {{post.text}}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}


   
    </div> 
  </div>
</section>

<section id="touch" class="touch">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title">
          <h2 class="title__main yellow">
            Keep in touch with us
          </h2>
          <p class="title__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
            vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis
            venenatis.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 m-auto">
        <form action="#" class="form">
          <input
            type="email"
            placeholder="Enter your email to update"
            class="form__input"
            required
          />
          <button type="submit" class="form__btn">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
