{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="features">
<div class="container bg-image" style="background-image: url({% static 'main/img/student.jpg'%});">
  <div class="row">
    {% for post in post_list %}
    <div class="col-lg-3" style="background-color: white; border-radius: 2vw;margin:1vmin">
      <div class="feature d-flex">
        <i class="fa fa-tablet feature__icon">LL</i>
        <div class="feature__block">
           {% if user.is_authenticated %}
          <a href="{% url 'main:post_edit' post.id %}">EDIT</a>
          {% endif %}
          <h3 class="feature__title">
            {{post.title}} - <small>{{post.published}}</small>
          </h3>
          <p class="feature__text">
            {{post.text}}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
</div>

{% endblock content %}